<%- include('header'); -%>


<h2>This is about page.</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, ut impedit. Ullam, sed quibusdam. Sint corrupti enim, ut nisi eligendi qui dolor temporibus praesentium voluptas minima recusandae nostrum, doloribus iure?</p>


<%- include('footer'); -%>